$size: (
  sm: 12px, nm: 14px, md: 16px, lg: 20px, xl: 24px
);
@each $key, $val in $size {
  .fs-#{$key} {
    font-size: $val;
  }
};

@each $val in (5,10,20, 30, 40, 50 ) {
  .mt#{$val} {
    margin-top: #{$val}px;
  }
  .mr#{$val} {
    margin-right: #{$val}px;
  }
  .ml#{$val} {
    margin-left: #{$val}px;
  }
  .mb#{$val} {
    margin-bottom: #{$val}px;
  }
}
@each $val in (5,10,20, 30, 40, 50 ) {
  .pt#{$val} {
    padding-top: #{$val}px;
  }
  .pr#{$val} {
    padding-right: #{$val}px;
  }
  .pl#{$val} {
    padding-left: #{$val}px;
  }
  .pb#{$val} {
    padding-bottom: #{$val}px;
  }
}

// 主题色
$mcolor: #828d95;

// 点赞色
$lcolor: #FF6A6A;

.hide {
  display: none;
}

.container {
  width: 900px;
  height: auto;
  margin: 0 auto;
  // box-sizing: border-box;
}

.border-ra4 {
  border-radius: 4px;
}


//加载更多
.load-more {
  text-align: center;
  padding-bottom: 50px;
  span {
    cursor: pointer;
    font-size: 16px;
  }
}

// 两栏布局
.container-wrap {
  max-width: 1300px;
  display: flex;
  // height: auto;
  margin: 0 auto;
  // text-align: center;
  .col-main {
    flex: 1;
    flex-shrink: 0;
    margin-left: 20px;
  }
  .col-side {
    width: 350px;
    // margin: 20px;
  }
}

//重点布局
.lg-container {
  max-width: 1400px;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
  .section {
    padding:20px;
  }
}
// 标签样式
.label_style {
  display: inline-block;
  font-size: 12px;
  color: #aaa;
  margin-right: 10px;
}

.shadow-1 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
}
// 引用评论样式
.quote {
  display: block;
  margin: 10px 0;
  padding: 10px 14px;
  font-size: 14px;
  border-left: 3px solid #eee;
  background-color: #f8f8f8;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-line;
  span {
    display: block;
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
  }
}

