.content {
  background-color: #fff;
  padding: 20px;
  // margin-top: 20px;
  .title {
    text-align: left;
    color: #828d95;
    // font-size: 16px;
  }
  .card_list {
    margin-top: 20px;
    // display: flex;
    // justify-content: space-around;
  }
}