.content {
    background-color: #fff;
    padding:20px;
    margin-top: 20px;
    .masonry {
        display: flex;
        flex-direction: row;
        // margin-top: 20px;
        .column {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            // align-items: flex-start;
        }
    }
}