.App {
  text-align: center;
}
.APP-main {
  padding-bottom: 100px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* 动画相关样式 */
.fade-enter, .fade-appear {
  transform: translateY(-40px);
  opacity: 0;
}

.fade-enter.fade-enter-active, .fade-appear.fade-appear-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 300ms ease-in;
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit.fade-exit-active {
  transform: translateY(-40px);
  opacity: 0;
}
